<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Only Admin Can Access this page</h2>
        <h3> Please Sign In if You are an admin</h3>
    </hgroup>
</body>
</html>
