@{
    ViewBag.Title = "About";
}

<body background="~/Images/AboutBg.png" />
<div>
    <h1 style="color:white;">About Us</h1>
    <p style="color:white;">
        Established in 2005, BookMate is the best equipped Online Book Store.<br />
        Have you ever read a book under the covers after your parents turned off the lights? Are you fascinated by the world of Harry Potter, Lord of the Rings, Hunger Games or that of Shakespeare, Roald Dahl, Murakami? Books play a significant role in our lives.
        They provide us with knowledge of the outside world, they also have the ability to transpose us to an alternate world. The importance of books in our life cannot be undermined for they not only help in broadening our horizons but also act as doorways of connecting us with the world around us.
        They function as survival kits, they influence us and leave an impact on us. Now, let us dive into BookMate and experience this world.
    </p>

    <hr />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 style="color:white;">Our Partners</h2>
    <div>

        <h5 style="color:white;">Abhinav Krishna</h5>


        <h5 style="color:white;">Amal P Franglin</h5>




        <h5 style="color:white;">Anandu Ram</h5>


        <h5 style="color:white;">Brijo T Prince </h5>


        <h5 style="color:white;">Fayaz Azeem </h5>


    </div>
</div>
</body>
