@model IEnumerable<BookMate.Models.Books>

@{
    ViewBag.Title = "Books";
}
<style>
    h1 {
        font-size: 100px;
    }
</style>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Welcome To BookMate</h1>
<br />
<br />
<br />

<div class="container">
    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
        <b> Search By </b>
        @Html.RadioButton("SearchBy", "BookName", true)<text>Book Name</text>
        @Html.RadioButton("SearchBy", "Category")<text>Category</text>
        <br />
        @Html.TextBox("Search", "", new { @class = "form-control" })
        <input type="submit" value="search" class="btn btn-primary" />
    }
    <h3>@ViewBag.res</h3>
</div>
<br />
<br />

<br />
<br />
<br />
<br />
<br />